@using Observe.EntityExplorer.DataObjects;

@model Observe.EntityExplorer.Models.BaseViewModel;

@{
    ViewData["Title"] = "Home";
}

<p>
    <span class="spanError">@ViewData["ErrorMessage"]</span>
</p>
@if (ViewData["ErrorMessage"] != null)
{
    return;
}

<h1>Connect</h1>
<p>
    <a asp-area="" asp-controller="Connection" asp-action="Connect">🔑 Connect</a> with different credentials or log out
<p>

<h1>Explore</h1>

@using (Html.BeginForm("Index", "Home", new {userid=Model.CurrentUser.UniqueID}, FormMethod.Post))
{
    <table>
        <tr>
            <td>Location</td>
            <td>
                <a href="@Model.ObserveEnvironment.CustomerEnvironmentUrl">@Model.ObserveEnvironment.CustomerEnvironmentUrl</a>
                @Model.ObserveEnvironment.CustomerLabel (@Model.ObserveEnvironment.CustomerName) in @Model.ObserveEnvironment.Deployment
            </td>
        </tr>
        <tr>
            <td>Loaded On</td>
            <td>
                @Model.ObserveEnvironment.LoadedOn.ToString("u") <button type="submit" id="buttonRefresh" name="buttonRefresh" value="Refresh">Refresh</button>
            </td>
        </tr>
        <tr>
    </table>
}

<table>
    <tr>
        <th>Category</th>
        <th>Statistics</th>
        <th>Costs</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>Datasets</td>
        <td>
            <table>
                <thead>
                    <th>Category</th>
                    <th>Number</th>
                </thead>
                <tr>
                    <td>Total</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.Dataset).Count</td>
                </tr>
                <tr>
                    <td>Event</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.EventDataset).Count</td>
                </tr>
                <tr>
                    <td>Interval</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.IntervalDataset).Count</td>
                </tr>
                <tr>
                    <td>Resource</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.ResourceDataset).Count</td>
                </tr>
                <tr>
                    <td>Table</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.TableDataset).Count</td>
                </tr>
                <tr>
                    <td>DatastreamDataset</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.DatastreamDataset).Count</td>
                </tr>
                <tr>
                    <td>MetricSMADataset</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.MetricSMADataset).Count</td>
                </tr>
                <tr>
                    <td>MonitorSupportDataset</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.MonitorSupportDataset).Count</td>
                </tr>
                <tr>
                    <td>InterfaceMetricDataset</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.InterfaceMetricDataset).Count</td>
                </tr>
                <tr>
                    <td>InterfaceLogDataset</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.InterfaceLogDataset).Count</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <thead>
                    <th>Length</th>
                    <th>Transform</th>
                    <th>Query</th>
                </thead>
                <tr>
                    <td>1 hour</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Transform1H.Credits).ToString("##0.#")</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Query1H.Credits).ToString("#.#")</td>
                </tr>
                <tr>
                    <td>1 day</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Transform1D.Credits).ToString("##0.#")</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Query1D.Credits).ToString("#.#")</td>
                </tr>
                <tr>
                    <td>1 week</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Transform1W.Credits).ToString("##0.#")</td>
                    <td>@Model.ObserveEnvironment.AllDatasetsDict.Values.ToList().Sum(d => d.Query1W.Credits).ToString("#.#")</td>
                </tr>
            </table>
        </td>
        <td><a asp-area="" asp-controller="Select" asp-action="Dataset" asp-route-userid="@Model.CurrentUser.UniqueID">@Model.ObserveEnvironment.getIconType(((ObsCompositeObject)new ObsDataset())) Explore Datasets</a> - Review the structure and dependencies of datasets</td>
    </tr>
    <tr>
        <td>Dashboards</td>
        <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.Dashboard).Count</td>
        <td></td>
        <td><a asp-area="" asp-controller="Select" asp-action="Dashboard" asp-route-userid="@Model.CurrentUser.UniqueID">@Model.ObserveEnvironment.getIconType(new ObsDashboard()) Explore Dashboards</a> - Review the structure and dependencies of custom and app dashboards</td>
    </tr>
    <tr>
        <td>Worksheets</td>
        <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.Worksheet).Count</td>
        <td></td>
        <td><a asp-area="" asp-controller="Select" asp-action="Worksheet" asp-route-userid="@Model.CurrentUser.UniqueID">@Model.ObserveEnvironment.getIconType(new ObsWorksheet()) Explore Worksheets</a> - Review the structure of ad-hoc worksheets</td>
    </tr>
    <tr>
        <td>Monitors</td>
        <td>
            <table>
                <thead>
                    <th>Category</th>
                    <th>Number</th>
                </thead>
                <tr>
                    <td>Total</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.Monitor).Count</td>
                </tr>
                <tr>
                    <td>Metric Threshold</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.MetricThresholdMonitor).Count</td>
                </tr>
                <tr>
                    <td>Log Threshold</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.LogThresholdMonitor).Count</td>
                </tr>
                <tr>
                    <td>Resource Count</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.ResourceCountThresholdMonitor).Count</td>
                </tr>
                <tr>
                    <td>Promotion</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.PromotionMonitor).Count</td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>@Model.ObserveEnvironment.GetObjectsOfType(ObsCompositeObjectType.ResourceTextValueMonitor).Count</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <thead>
                    <th>Length</th>
                    <th>Transform</th>
                </thead>
                <tr>
                    <td>1 hour</td>
                    <td>@Model.ObserveEnvironment.AllMonitorsDict.Values.ToList().Sum(d => d.Transform1H.Credits).ToString("##0.#")</td>
                </tr>
                <tr>
                    <td>1 day</td>
                    <td>@Model.ObserveEnvironment.AllMonitorsDict.Values.ToList().Sum(d => d.Transform1D.Credits).ToString("##0.#")</td>
                </tr>
                <tr>
                    <td>1 week</td>
                    <td>@Model.ObserveEnvironment.AllMonitorsDict.Values.ToList().Sum(d => d.Transform1W.Credits).ToString("##0.#")</td>
                </tr>
            </table>
        </td>
        <td><a asp-area="" asp-controller="Select" asp-action="Monitor" asp-route-userid="@Model.CurrentUser.UniqueID">@Model.ObserveEnvironment.getIconType(new ObsMonitor()) Explore Monitors</a> - Review the monitor configuration and dataset dependencies</td>
    </tr>
    <tr>
        <td>Relationships</td>
        <td>
            <table>
                <thead>
                    <th>Category</th>
                    <th>Number</th>
                </thead>
                <tr>
                    <td>Total</td>
                    <td>@Model.ObserveEnvironment.ObjectRelationships.Count()</td>
                </tr>
                <tr>
                    <td>ProvidesData</td>
                    <td>@Model.ObserveEnvironment.ObjectRelationships.Where(r => r.RelationshipType == ObsObjectRelationshipType.ProvidesData).Count()</td>
                </tr>
                <tr>
                    <td>Linked</td>
                    <td>@Model.ObserveEnvironment.ObjectRelationships.Where(r => r.RelationshipType == ObsObjectRelationshipType.Linked).Count()</td>
                </tr>
            </table>
        </td>            
        <td></td>
        <td><a asp-area="" asp-controller="Select" asp-action="Relationship" asp-route-userid="@Model.CurrentUser.UniqueID">🧑‍🤝‍🧑 Explore Relationships</a> - See the list of relationships</td>
    </tr>
@{
    ObsObject syntheticNonExistentObject = new ObsObject();
    syntheticNonExistentObject.id = "-1";
    syntheticNonExistentObject.name = "All Objects";
}
    <tr>
        <td>All Relationships</td>
        <td>
            <textarea id="textArea_RelatedObjectsGraph" style="width:400px;height:200px;">@Model.ObserveEnvironment.RenderGraphOfRelationships(syntheticNonExistentObject, @Model.ObserveEnvironment.ObjectRelationships)</textarea>
        </td>
        <td></td>
        <td><button id="buttonVisualize_RelatedObjectsGraph" onclick="goToGraphVizOnline('textArea_RelatedObjectsGraph')">🔭 View</button></td>
    </tr>
    <tr>
        <td>RBAC</td>
        <td>
            <table>
                <thead>
                    <th>Category</th>
                    <th>Number</th>
                </thead>
                <tr>
                    <td>Users</td>
                    <td>@Model.ObserveEnvironment.AllUsersDict.Count()</td>
                </tr>
                <tr>
                    <td>Groups</td>
                    <td>@Model.ObserveEnvironment.AllGroupsDict.Count()</td>
                </tr>
                <tr>
                    <td>Group Members</td>
                    <td>@Model.ObserveEnvironment.AllGroupMembers.Count()</td>
                </tr>
                <tr>
                    <td>Statements</td>
                    <td>@Model.ObserveEnvironment.AllStatements.Count()</td>
                </tr>
            </table>
        </td>            
        <td></td>
        <td><a asp-area="" asp-controller="Select" asp-action="RBAC" asp-route-userid="@Model.CurrentUser.UniqueID">🛂 Explore RBAC</a> - See the users, groups and security statements</td>
    </tr>
</table>

<h1>Search OPAL</h1>

<p>
    <form action="Search/Results" method="GET">
        @Html.Hidden("userid", @Model.CurrentUser.UniqueID)
        @Html.TextBox("query", String.Empty, String.Empty, new {size = 60, placeholder = "put the OPAL you want to search for here "})
        <button type="submit" id="buttonCodeSearch">🔎 Search OPAL Code</button>
    </form>
</p>
<script src="~/js/DetailsCommon.js" asp-append-version="true"></script>